body {

    font-family: "Comfortaa", sans-serif;
    background: linear-gradient(90deg, #91a5ff, #fd7eaf, #b5ebff, #ff88eb);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
      transform: translate3d(0, 0, 0);
    color: white;
  }
   
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


  
html, body {
  margin: 0;
  padding: 0;
  line-height: 0px;

}

a {

  text-decoration: none;
  color: white;
  font-size: 40px;
}

a:hover {

  transition: 1s;
  color: black;
}

.header_container {


  display: flex;
  text-align: center;

}

.header_container div {

  padding: 0 10px;
  width: 33.333%;
}

.main_play_contaner {

  color: black;
  margin: 100px auto;
  width: 500px;
  height: 200px;
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
}

.game_players {

  width: 400px;
  margin: 40px auto 0;
}


.main_play_contaner button {

  color: black;
  border-radius: 16px;
  font-size: 20px;
  padding: 5px 20px;
  background-color: white;
  border: 2px solid black;
}

.main_play_contaner button:hover {

  background-color: #ff9f9f;
  color: white;
  transition: 0.6s;
}

.results_header_name {
  border: 0 !important;
}